body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

.main {
  width: 800px;    
  margin-left: auto;
  margin-right: auto;
}    

table {
  border-style: solid;
  border-width: 0.5px;
  border-color: gray;
  margin-top: 20px;
}

tr:nth-child(even) {
  background-color: #f1f1f1;
}  

th {
  text-align: center;   
}

td {
  font-size: 12px;
  text-align: left;
  padding: 5px;
}

.column {
  width: 250px;
}

.right {
  float: right;
}

input, button {
  border-radius: 5px;
  height: 30px;
  font-size: 14px;
  background-color: white;
}

input:focus, button:focus {
  outline: none;
}

.signin {
  float: right;
    
  div {
    display: block;
  }    
}

.signout {
  a {
    text-decoration: none;
  }
  a:-webkit-any-link {
    text-decoration:none !important;
  }
}
